<form id="edit" method="post" action="/runs/<%= @run[:id] %>">
  <fieldset>
    <legend><h3>Edit Run</h3></legend>
    <div>
      <label for="name">Name:</label>
      <br>
      <input name="name" type="text" value="<%= params[:name] || @run[:name] %>">
    </div>
    <div>
      <label for="distance">Distance:</label>
      <br>
      <input name="distance" type="number" step="0.01" min="0" max="1000" placeholder="miles" value="<%= params[:distance] || @run[:distance] %>">
    </div>
    <div>
      <label for="duration">Duration:</label>
      <br>
      <input name="duration" type="text" placeholder="hh:mm:ss" value="<%= params[:duration] || @run[:duration] %>">
    </div>
    <div>
      <label for="date">Date:</label>
      <br>
      <input name="date" type="date" min= "1900-01-01" max="<%= Time.now.stamp("2017-07-15") %>" required value="<%= params[:date] || @run[:date] %>">
    </div>
    <div>
      <label for="time">Time</label>
      <br>
      <input name="time" type="time" required value="<%= params[:time] || @run[:time] %>">
    </div>
    <fieldset class="actions">
      <input type="submit" value="Edit">
      <a href="<%= request.referer %>">Cancel</a>
    </fieldset>
  </fieldset>
</form>
