<table>
  <tr>
    <th>Total Miles</th>
    <th>Total Duration (hh:mm:ss)</th>
    <th>Average Pace (mm:ss)</th>
  </tr>
  <tr>
    <td><%= format_distance(total_distance(@runs)) %></td>
    <td><%= format_duration(total_duration(@runs).join(":")) %></td>
    <td><%= format_pace(average_pace(@runs)) %></td>
  </tr>
  <tr><td><br></td></tr>
  <tr>
    <th>Average Miles/Run</th>
    <th>Average Time/Run (min:sec)</th>
  </tr>
  <tr>
    <td><%= format_distance(average_distance_per_run(@runs)) %></td>
    <td><%= format_duration(average_duration_per_run(@runs).join(":")) %></td>
  </tr>
</table>

<% content_for :header_links do %>
  <div><a href="/runs">View Runs</a></div>
  <div><a href="/new">Add Run</a></div>
<% end %>
