<% if session[:username] %>
  <ul class="run heading">
    <li class="col-12-1">Runs Ran</li>
    <li class="col-12-1">Total Miles</li>
    <li class="col-12-2">Total Duration (hh:mm:ss)</li>
    <li class="col-12-2">Average Pace (mm:ss)</li>
    <li class="col-12-1">Average Miles</li>
    <li class="col-12-2">Average Duration (hh:mm:ss)</li>
  </ul>
  <ul class="run">
    <li class="col-12-1"><%= @runs.size %></li>
    <li class="col-12-1"><%= format_distance(total_distance(@runs)) %></li>
    <li class="col-12-2"><%= format_duration(total_duration(@runs).join(":")) %></li>
    <li class="col-12-2"><%= format_pace(average_pace(@runs)) %> / mile</li>
    <li class="col-12-1"><%= format_distance(average_distance_per_run(@runs)) %></li>
    <li class="col-12-2"><%= format_duration(average_duration_per_run(@runs).join(":")) %></li>
  </ul>
<% else %>
  <p>Please sign in to view run data.</p>
<% end %>

<% content_for :header_links do %>
  <div><a href="/runs">View Runs</a></div>
  <div><a href="/new">Add Run</a></div>
  <div>
    <% if session[:username] %>
      <form method="post" action="users/signout">
        <p class="user-status">
          Signed in as <%= session[:username] %>.
          <button type="submit">Sign Out</button>
        </p>
      </form>
    <% else %>
      <p class="user-status">
        Returning User:
        <a href="/users/signin">Sign In</a>
      </p>
      <p class="user-status">
        New User:
        <a href="/users/signup">Sign Up</a>
      </p>
    <% end %>
  </div>
<% end %>
