<ul class="run heading">
  <li class="name">Name</li>
  <li class="distance">Distance</li>
  <li class="duration">Duration</li>
  <li class="date">Date</li>
  <li class="time">Time</li>
</ul>
<% sort_by_attribute(@runs, :id).each do |run| %>
  <ul class="run">
    <li class="name"><%= run[:name] %></li>
    <li class="distance"><%= run[:distance] %></li>
    <li class="duration"><%= run[:duration] %></li>
    <li class="date"><%= run[:date] %></li>
    <li class="time"><%= run[:time] %></li>
    <form method="post" action="/<%= run[:id] %>/delete">
      <button class="delete" type="submit">Delete</button>
    </form>
  </ul>
<% end %>

<% content_for :header_links do %>
  <a href="/add">Add Run</a>
<% end %>
