<h3 class="run name">Name</h3>
<h3 class="run distance">Distance</h3>
<h3 class="run duration">Duration</h3>
<h3 class="run date">Date</h3>
<h3 class="run time">Time</h3>
<% sort_by_attribute(@runs, :id).each do |run| %>
  <ul>
    <li class="run name"><%= run[:name] %></li>
    <li class="run distance"><%= run[:distance] %></li>
    <li class="run duration"><%= run[:duration] %></li>
    <li class="run date"><%= run[:date] %></li>
    <li class="run time"><%= run[:time] %></li>
  </ul>
<% end %>

<% content_for :header_links do %>
  <a href="/add">Add Run</a>
<% end %>
