<ul class="run heading">
  <li class="col-12-2">Name</li>
  <li class="col-12-1">Distance</li>
  <li class="col-12-2">Duration</li>
  <li class="col-12-1">Pace</li>
  <li class="col-12-2">Date</li>
  <li class="col-12-1">Time</li>
</ul>
<% sort_by_attribute(@runs, :id).each do |run| %>
  <ul class="run">
    <li class="col-12-2"><%= run[:name] %></li>
    <li class="col-12-1"><%= format_distance(run[:distance]) %></li>
    <li class="col-12-2"><%= run[:duration] %></li>
    <li class="col-12-1"><%= format_pace(pace(run)) %></li>
    <li class="col-12-2"><%= run[:date] %></li>
    <li class="col-12-1"><%= run[:time] %></li>
    <a class="action edit" href="/runs/<%= run[:id] %>/edit">Edit</a>
    <form method="post" action="/runs/<%= run[:id] %>/delete">
      <input name="name" type="text" hidden value="<%= run[:name] %>">
      <button class="action delete" type="submit">Delete</button>
    </form>
  </ul>
<% end %>

<% content_for :header_links do %>
  <a href="/new">Add Run</a>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <button type="submit">Upload</button>
    <input type="file" name="file" accept=".yml">
    <p class="upload_help">To upload a <i>.yml</i> file,
  use the following format:
  ---
  -  :name: <i>xyz</i>
     :distance: <i>'##.##'</i>
     :duration: <i>'hh:mm:ss'</i>
     :date: <i>'yyyy-mm-dd'</i>
     :time: <i>'hh:mm:ss'</i>
    </p>
  </form>
<% end %>
